/* _mixins */
@mixin flexRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
@mixin flexColumn {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
@mixin font {
    font-family: 'Montserrat', sans-serif;;
}

/* _vars */

/* main */
* {
    @include font();
}
li {
    list-style-type: none;
}

// header
header {
    width: 100%;
    position: absolute;
    @include flexRow();
    z-index: 999;
}
.logo__img_size {
    width: 80px;
}
.menu__list {
    @include flexRow();
    width: 500px;
}
.menu__link_style, .menu__link_style:hover {
    color: #fff;
}
.callback {
    @include flexRow();
}
.callback__links {
    @include flexColumn();
}

// main
.main {
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)), url(../images/main.jpg);
    color: #fff;
    @include flexColumn();
}
.main-content {
    @include flexColumn();
}
.main-content__logo {
    margin-bottom: 50px;
}
.main-content__text {
    margin-bottom: 25px;
}
.main-content__title_weight {
    font-weight: bold;
}
.main-content__img_size {
    width: 500px;
}