/* _mixins */
/* _vars */
/* main */
* {
  font-family: 'Montserrat', sans-serif;
}

li {
  list-style-type: none;
}

section {
  padding: 75px 0;
}

.headline__style {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  padding: 25px;
}

p {
  font-size: 17px;
}

header {
  width: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
}

.logo__img_size {
  width: 60px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 500px;
}

.menu__link_style, .menu__link_style:hover {
  color: #fff;
}

.callback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.callback__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 25px;
}

.callback__link_color, .callback__link_color:hover {
  color: #fff;
}

.main {
  height: 100vh;
  width: 100%;
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65))), url(../images/main.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/main.jpg);
  background-position: center;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content__logo {
  margin-bottom: 50px;
}

.main-content__text {
  margin-bottom: 25px;
}

.main-content__title_weight {
  font-weight: bold;
}

.main-content__img_size {
  width: 500px;
}

.about {
  max-width: 1080px;
  margin: 0 auto;
}

.about-content__text {
  text-align: justify;
}

.advantages-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 25px;
}

.advantages__icon {
  background-color: #e7e7e7;
  border-radius: 50%;
  width: 85px;
  height: 85px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.advantages__icon span {
  font-size: 22px;
  line-height: 15px;
  font-weight: bold;
}

.advantages__text {
  font-weight: 600;
  width: 300px;
}

.advantages__card:hover .advantages__icon {
  background-color: #007bff;
  color: #fff;
}

.carousel-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel-wrapper__img_size {
  width: 250px !important;
  height: 80px;
}

.carousel {
  width: 33%;
}

.carousel-item {
  -webkit-transition: opacity .5s ease-in-out, -webkit-transform 1s ease-in-out;
  transition: opacity .5s ease-in-out, -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out, opacity .5s ease-in-out;
  transition: transform 1s ease-in-out, opacity .5s ease-in-out, -webkit-transform 1s ease-in-out;
}

.header {
  background-color: rgba(63, 63, 63, 0.8);
  position: fixed;
}

.main-blog {
  max-width: 1080px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.main-blog h1.headline__style {
  padding-top: 125px;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-item {
  cursor: pointer;
  margin-top: 25px;
  border-bottom: 1px solid #000;
  padding-bottom: 15px;
  position: relative;
}

.main__img {
  width: 250px;
  height: 150px;
  margin-right: 20px;
}

.main__headline {
  font-weight: 600;
}

.main-item_last {
  border-bottom: none;
}

.main__share {
  position: absolute;
  right: 0;
  bottom: 20px;
}

.services-content_passive {
  display: none;
}
/*# sourceMappingURL=style.css.map */